.text{
    font-size: 20px;
}
.hide-1{
    display: none;
}
.show-1{
    font-size: 20px;
}
#btn1{
    margin-left: 10px;
    border: none;
    background-color: orangered;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.hide-2{
    display: none;
}
.show-2{
    font-size: 20px;
}
#btn2{
    margin-left: 10px;
    border: none;
    background-color: orangered;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}